*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    background: #000;
    height: 100vh;
    color:#fff;
}

a{
    text-decoration: none;
}

.App{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}
header{
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.search{
    width:50%;
   
    margin: auto;
    margin-bottom: 30px;
    display: block;
     .inputbox{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin: auto;
        border: none;
        border-radius: 20px;
     }
}